.icon-img {
       width: 70px;
       height: 70px;
       background-color: #fff;
     }
     
     .icon-white-bg {
       height: 160px;
       width: 160px;
       background-color: #fff;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 50%;
       box-shadow: inset 0 10px 0 #b9bdd1;
       position: relative;
     }
     
     .scissors-border, .rock-border, .paper-border {
       display: flex;
       align-items: center;
       justify-content: center;
       height: 200px;
       width: 200px;
       padding: 20px;
       border-radius: 50%;
     }
     
     .scissors-border {
       background: var(--scissors-gradient);
       box-shadow: 0 10px 0 #c76c1a;
     }
     
     .rock-border {
       background: var(--rock-gradient);
       box-shadow: 0 10px 0 #a01533;
     }
     
     .paper-border {
       background: var(--paper-gradient);
       box-shadow: 0 10px 0 #2944c3;
     }

     .pressable {
       cursor: pointer;
     }
     
     .pressable-paper:active {
       box-shadow: 0 3px 0 #2944c3;
       cursor: pointer;
       transform: translateY(7px);
     }
     
     .pressable-rock:active {
       box-shadow: 0 3px 0 #a01533;
       cursor: pointer;
       transform: translateY(7px);
     }
     
     .pressable-scissors:active {
       box-shadow: 0 3px 0 #c76c1a;
       cursor: pointer;
       transform: translateY(7px);
     }
     
     .pressable:active>.icon-white-bg, .pressable:active>.icon-white-bg, .pressable:active>.icon-white-bg {
       box-shadow: inset 0 3px 0 #b9bdd1;
     }

     .winning-aura {
       width: 200px;
       height: 200px;
       position: absolute;
       background-color: #fff;
       border-radius: 50%;
       z-index: -1;
       filter: blur(200px);
       opacity: 0.5;
     }