.App {
  text-align: center;
  height: 100vh;
  background: radial-gradient(circle at top, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
}

.container {
  max-width: 1366px;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}


.logo-score-container {
  margin-top: 60px;
  width: 80%;
  height: 200px;
  background-color: transparent;
  border: 3px solid var(--header-outline);
  top: 8%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.score-container {
  display: flex;
  background-color: #fff;
  width: 20%;
  height: 100%;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 0.5rem #000;
}

.score-text {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--score-text);
  font-weight: 600;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.score-number {
  color: var(--dark-text);
  font-weight: 700;
  font-size: 60px;
  font-family: sans-serif;
}

.buttons-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 400px;
}

.upper-row {
  flex: 1 1;
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: flex-start;
  z-index: 10;
  padding: 20px 0;
}

.lower-row {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#triangle {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  height: 80%;
  z-index: 1;
}


.compare-container {
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.left-compare, .right-compare {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  height: 100%;
}
.left-compare {
  align-items: flex-end;
  padding: 0 60px;
}

.right-compare {
  align-items: flex-start;
  padding: 0 60px;
}

.left-compare h1, .right-compare h1 {
  color: white;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.middle-ground {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-bottom: 90px;
  min-width: 50px;
}

.middle-ground>h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
}

.centering-div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.centering-div>h1 {
  white-space: nowrap;
}

.grey-cicle {
  background-color: var(--dark-text);
  width: 200px;
  height: 200px;
  opacity: 0.5;
  border-radius: 50%;
}

.new-game-btn {
  background-color: #fff;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  color: var(--dark-text);
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 0.3rem #000;
}